.header{
    background-color:aqua;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.headeritems{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.games{
 display: flex; 
   flex-wrap: wrap;
   justify-content: space-evenly;
}
h2{
    text-align: center;
}
.name {
    display: flex;
    padding:50;
    margin-left:100 ;
}